<div class="col-lg-10">
	<div class="card rounded-0 mt-5">
		<div class="card-body">
			<h2 class="text-center mb-5">Employee Detail</h2>
			<div class="row mt-5">
				<div class="col-lg-6">
					<h3 class="mb-3">Personal Information</h3>
					<p class="lead"><strong>First Name :</strong><%= @employee.first_name %></p>
					<p class="lead"><strong>last Name :</strong><%= @employee.last_name %></p>
					<p class="lead"><strong>Email :</strong><%= @employee.email %></p>
					<p class="lead"><strong>Age :</strong><%= @employee.age %></p>
					<p class="lead"><strong>Date of Birth :</strong><%= @employee.date_of_birth%></p>
				</div>
				<div class="col-lg-6">
					<h3 class="mb-3">Address Information</h3>
					<p class="lead"><strong>City :</strong><%= @employee.city %></p>
					<p class="lead"><strong>Pincode :</strong><%= @employee.pincode %></p>
					<p class="lead"><strong>Address :</strong><%= @employee.address %></p>
					<p class="lead"><strong>Contact No :</strong><%= @employee.contact_no%></p>
				</div>

				<% if @employee.documents.present? %>
				<div class="row mt-5">
					<h2 class="text-center mb-5">Employee Documents</h2>
					<% @employee.documents.each do |document|%>
					<div class="card">
						<div class="card-body">
							<div class="row">
									<% if document.image.attached? %>
								<div class="col-lg-4">
					                  <%= image_tag document.image,class:"img-fluid" %>
								</div>
					                  <% end %>                  
								<div class="col-lg-4">
									<p class="lead"><%= document.name %></p>
								</div>
								<div class="col-lg-4">
									<p class="lead"><%= document.doc_type%></p>
								</div>
							</div>
						</div>
					</div>
					<% end %>
				</div>
			<%end%>
			</div>
			
			<%= link_to "Edit Employee",edit_employee_path(@employee),class:"btn btn-info rounded-0 mt-3 mb-3"%>
			<%= link_to "Back to Employee",employees_path,class:"btn btn-outline-info rounded-0 mt-3 mb-3"%>
		</div>
	</div>
</div>


				