<div id="<%= dom_id student %>">
  <p>
    <strong>First name:</strong>
    <%= student.First_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= student.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= student.email %>
  </p>

  <p>
    <strong>City:</strong>
    <%= student.city %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= student.country %>
  </p>

  <p>
    <strong>Date Of Birth:</strong>
    <%= student.date_of_birth %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= student.age %>
  </p>

</div>
